<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <table class="table table-hover table-bordered align-middle caption-top">
                <thead class="table-dark">
                    <tr>
                        <th>Coluna 1</th>
                        <th>Coluna 2</th>
                        <th>Coluna 3</th>
                        <th>Coluna 4</th>
                    </tr>
                </thead>
                <tbody class="table-striped table-group-divider">
                    <tr>
                        <td>Coluna 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque delectus eos voluptate! At, in corporis? Optio sit repellendus doloribus deserunt.</td>
                        <td>Coluna 2</td>
                        <td>Coluna 3</td>
                        <td>Coluna 4</td>
                    </tr>
                    <tr>
                        <td>Coluna 1</td>
                        <td>Coluna 2</td>
                        <td>Coluna 3</td>
                        <td>Coluna 4</td>
                    </tr>
                    <tr>
                        <td>Coluna 1</td>
                        <td>Coluna 2</td>
                        <td>Coluna 3</td>
                        <td>Coluna 4</td>
                    </tr>
                    <tr>
                        <td>Coluna 1</td>
                        <td>Coluna 2</td>
                        <td>Coluna 3</td>
                        <td>Coluna 4</td>
                    </tr>
                    <tr>
                        <td>Coluna 1</td>
                        <td>Coluna 2</td>
                        <td>Coluna 3</td>
                        <td>Coluna 4</td>
                    </tr>
                </tbody>
                <caption class="text-center">Título da Tabela</caption>
            </table>
        </div>
    </body>
</html>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<!-- Adicione o jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Adicione a biblioteca jQuery Mask -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
