<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <title>Document</title>
        <style>
            .row{
                height: 200px;
                background-color: antiquewhite;
            }
            .col{
                background-color: antiquewhite;
                padding: 20px;
                border: solid 1px black;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>h1 - Tírulo do nível 1</h1>
            <h2>h2 - Tírulo do nível 2</h2>
            <h3>h3 - Tírulo do nível 3</h3>
            <h4>h4 - Tírulo do nível 4</h4>
            <h5>h5 - Tírulo do nível 5</h5>
            <h6>h6 - Tírulo do nível 6</h6>
        </div>
        <hr>
        <div class="container">
            <p class="h1"> .h1 - Classe de título de nível 1</p>
            <p class="h2"> .h2 - Classe de título de nível 2</p>
            <p class="h3"> .h3 - Classe de título de nível 3</p>
            <p class="h4"> .h4 - Classe de título de nível 4</p>
            <p class="h5"> .h5 - Classe de título de nível 5</p>
            <p class="h6"> .h6 - Classe de título de nível 6</p>
        </div>
        <div class="container">
            <h1 class="display-1">Display 1</h1>
            <h1 class="display-2">Display 2</h1>
            <h1 class="display-3">Display 3</h1>
            <h1 class="display-4">Display 4</h1>
            <h1 class="display-5">Display 5</h1>
            <h1 class="display-6">Display 6</h1>
        </div>
        <div class="container">
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet a, obcaecati tempora quis laborum reprehenderit accusamus veritatis beatae voluptatibus dolorum dolore vero ipsa assumenda quos dignissimos unde eaque aliquid corrupti iure architecto sit doloribus enim asperiores labore! Obcaecati, quis eligendi et cupiditate voluptatum natus quos illo placeat suscipit quaerat facere minus harum, voluptas velit distinctio accusantium illum optio doloremque itaque.</p>
        </div>
        <div class="container">
            <ul class="list-unstyled">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
                <li>Item 6</li>
            </ul>
        </div>
    </body>
</html>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<!-- Adicione o jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Adicione a biblioteca jQuery Mask -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
