@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-3">Coluna</div>
        <div class="col-3">Coluna</div>
        <div class="col-3">Coluna</div>
    </div>
</div>
